.calc-container {
    width: 100%;
    display: grid;
    margin-top: 5%;
}

.results-container {
    display: grid;
    width: 100%;
}

label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

input {
    width: 50%;
}

table {
    margin: 2%;
    width: 100%;
    border: 1px solid black;
}