<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #9ea9a1;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="NoDebtMindset Logo"
    src="../assets/NDMLogo.png"
  />
    <div class="spacer"></div>
    <a aria-label="NoDebtMindset on twitter" target="_blank" rel="noopener" href="https://twitter.com/NoDebtMindset" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
    <a aria-label="NoDebtMindset on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/@nodebtmindset" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div class="content" role="main">
  <h2>Pay Off Mortgage vs. Invest Calculator</h2>
  <p>Enter your information below to get a calculation:</p>

  <div class="card-container" style="width: 100%;">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="mortgageForm" (ngSubmit)="onSubmit()" style="width: 100%;">
      <div class="calc-container">
        <label>
          <p>Current Mortgage Balance:</p>
          <print-error *ngIf="submitted" [control]="mortgageFormControl.mortgageBalance"></print-error>
          <input [ngClass]="{'danger': !mortgageFormControl.mortgageBalance.valid && submitted}"  #mortgage onfocus="event.target.select()" (keyup.enter)="focusNext('interest')" type="number" placeholder="0" formControlName="mortgageBalance">
        </label>
      
        <label>
          <p>Mortgage Interest Rate (%):</p>
          <print-error *ngIf="submitted" [control]="mortgageFormControl.mortgageInterestRate"></print-error>
          <input [ngClass]="{'danger': !mortgageFormControl.mortgageInterestRate.valid && submitted}"  #interest onfocus="event.target.select()" (keyup.enter)="focusNext('term')" type="number" placeholder="0" formControlName="mortgageInterestRate">
        </label>
      
        <label>
          <p>Remaining Term (in years):</p>
          <print-error *ngIf="submitted" [control]="mortgageFormControl.remainingTerm"></print-error>
          <input [ngClass]="{'danger':! mortgageFormControl.remainingTerm.valid && submitted}"  #term onfocus="event.target.select()" (keyup.enter)="focusNext('rate')" max="100" type="number" placeholder="0" formControlName="remainingTerm">
        </label>
      
        <label>
          <p>Expected Rate of Return on Investment (%):</p>
          <print-error *ngIf="submitted" [control]="mortgageFormControl.expectedReturnRate"></print-error>
          <input [ngClass]="{'danger':!mortgageFormControl.expectedReturnRate.valid && submitted}"  #rate onfocus="event.target.select()" (keyup.enter)="focusNext('extra')" type="number" placeholder="0" formControlName="expectedReturnRate">
        </label>
      
        <label>
          <p>Extra Money Available Per Month:</p>
          <print-error *ngIf="submitted" [control]="mortgageFormControl.extraMoney"></print-error>
          <input [ngClass]="{'danger': !mortgageFormControl.extraMoney.valid && submitted}"  #extra onfocus="event.target.select()" (keyup.enter)="onSubmit()" type="number" placeholder="0" formControlName="extraMoney">
        </label>
        <button class="calc" type="submit">Calculate</button>
      </div>
    
    </form>


  </div >


  <!-- Next Steps -->
  <h2 id="boom" *ngIf="showResults">Results Summary</h2>

  <input type="hidden" #selection>

  <div class="summary" *ngIf="showResults">
    It will take you <b>{{newMortgage.monthsToPayoff / 12 | number : '1.0-1'}} years</b> to pay off your mortgage when applying extra principal payments each month.
    Conversely, if you were to continue paying the minimum mortgage payment and investing your extra payment amount each month, you could expect
    to reach enough funds to pay off your mortgage principal in <b>{{timeToPayoffMortgageWithInvestment(currentMortgage,investment) / 12 | number: '1.0-1'}} years</b>.
    Were you to continue investing past that date and forego paying your house off, your investment account would be worth  <b>{{investment.totalValue| currency}}</b>
    by the time your mortgage is fully paid off. <div *ngIf="investment.totalWithTaxesPaid > 0">Assuming this is a taxable account with a capital gains tax rate of 20%, your total account value after taxes would be <b>{{investment.getTotalTaxesPaid() | currency}}</b></div>
  </div>
</div>

<div class="tab" *ngIf="showResults">
  <button [ngClass]="{'active': cmTabOpen}"class="tab-links" (click)="openTab('CM')">Current Mortgage</button>
  <button [ngClass]="{'active': mepTabOpen}" class="tab-links" (click)="openTab('MEP')">Mortgage With Extra Payment</button>
  <button [ngClass]="{'active': iaTabOpen}" class="tab-links" (click)="openTab('IA')">Investment Account</button>
</div> 


<div class="tab-content" *ngIf="showResults && cmTabOpen">
  <h2>Current Mortgage</h2>
  <table class="freeform">
    <tr>
      <td>
        <div>
          Payment (Principal + Interest)
        </div>
      </td>
      <td class="currency">
        <div *ngIf="showResults">
          {{currentMortgage.monthlyPayment | currency}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div >
          Total Interest Over Duration of Loan 
        </div>
      </td>
      <td class="currency" *ngIf="showResults">
        {{currentMortgage.totalInterestPaid | currency}}
      </td>
    </tr>
  </table>

  <div class="table-content">
    <table class="strict">
      <tr>
        <th>Month</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Total</th>
        <th>Remaining Balance</th>
      </tr>
      <tr *ngFor="let x of currentMortgage.calculateAmortization()">
        <td>{{x?.month}}</td>
        <td>{{x?.principalPayment | currency}}</td>
        <td>{{x?.interestPayment | currency}}</td>
        <td>{{x?.totalPayment | currency}}</td>
        <td>{{x?.balance | currency}}</td>
      </tr>
    </table>
  </div>

</div>

<div class="tab-content" *ngIf="showResults && mepTabOpen">
<h2>
  Mortgage With Extra Payment
</h2>


  <table class="freeform">
      <tr>
        <td>
          <div >
            New Mortgage Payment (Current Mortgage + Extra Payment)
          </div>
        </td>
        <td class="currency" *ngIf="showResults">
          {{newMortgage.monthlyPayment + newMortgage.extraPayment| currency}}
        </td>
      </tr>
      <tr>
        <td>
          <div>
            Total Interest Over Duration of Loan
            </div>
        </td>
        <td class="currency" *ngIf="showResults">
          {{newMortgage.totalInterestPaid| currency}}
        </td>
      </tr>
  </table>
  <div class="table-content">
    <table class="strict">
      <tr>
        <th>Month</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Total</th>
        <th>Remaining Balance</th>
      </tr>
      <tr *ngFor="let x of newMortgage.calculateAmortization()">
        <td>{{x?.month}}</td>
        <td>{{x?.principalPayment | currency}}</td>
        <td>{{x?.interestPayment | currency}}</td>
        <td>{{x?.totalPayment | currency}}</td>
        <td>{{x?.balance | currency}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="tab-content" *ngIf="showResults && iaTabOpen">
  <h2>
    Investment Account
  </h2>


  <table class="freeform">
    <tr>
      <td>
        <div >
          Investment Balance After Full Loan Term
        </div>
      </td>
      <td class="currency" *ngIf="showResults">
        {{investment.totalValue| currency}}
      </td>
    </tr>
    <tr>
      <td>
        <div>
          Investment Balance After Full Loan Term With 20% Capital Gains Tax
          </div>
      </td>
      <td class="currency" *ngIf="showResults">
        {{investment.totalWithTaxesPaid| currency}}
      </td>
    </tr>
  </table>
<div class="table-content">
  <table class="strict">
    <tr>
      <th>Month</th>
      <th>Contribution</th>
      <th>Total Value</th>
      <th>After Tax Value</th>
    </tr>
    <tr *ngFor="let x of investment.calculateInvestmentGrowth()">
      <td>{{x?.month}}</td>
      <td>{{investment.monthlyContribution}}</td>
      <td>{{x?.totalValue | currency}}</td>
      <td>{{x?.afterTaxValue | currency}}</td>
    </tr>
  </table>
</div>

</div>

<div class="SEO-text">
  <h2>Welcome</h2>
  <p>Welcome to PayofforInvest.com, the ultimate resource for making smart financial decisions. 
    Whether you're considering investing your extra money or paying off your mortgage early, 
    our interactive calculator and expert insights will guide you towards the best path for 
    your financial future. Explore our comprehensive tools and start maximizing your savings 
    today.
  </p>
  <h2>About Us</h2>
  <p>
    At PayofforInvest.com, we are passionate about empowering individuals to make informed financial 
    choices. Our team of experts has developed a cutting-edge calculator that combines advanced 
    algorithms with user-friendly design. We believe that everyone deserves the opportunity to 
    optimize their financial strategy, and that's why we created this platform. Join thousands 
    of satisfied users who have taken control of their finances with PayofforInvest.com. Read more
    about finance and current events in money at our <a href="https://nodebt.blog">blog.</a>
  </p>
  <h2>How It Works</h2>
  <p>
    Using PayofforInvest.com is easy. Simply input your mortgage balance, interest rate, remaining 
    term, expected investment returns, and the amount of extra money available. Our calculator will
    perform complex calculations and provide you with a breakdown of monthly payments and investment 
    balances. Visualize the long-term impact of your choices and gain valuable insights to make 
    well-informed decisions. Experiment with different scenarios to find the approach that suits 
    your financial goals best.
  </p>
  <h2>
    Benefits of Using PayofforInvest.com:
  </h2>
  <ul>
    <li>
      Maximize Savings: Our calculator helps you identify the potential savings of 
      investing extra money or paying off your mortgage early, empowering you to make 
      the most of your financial resources.
    </li>
    <li>
      User-Friendly Experience: Our platform is designed with simplicity and ease of use 
      in mind, ensuring that you can navigate and understand the calculations effortlessly.
    </li>
    <li>
      Personalized Scenarios: Tailor the calculations to your specific situation by inputting 
      various parameters such as monthly payment increase, lump sum payments, and expected 
      investment returns.
    </li>
    <li>
      Comprehensive Insights: Gain a clear understanding of how different choices impact your 
      long-term financial well-being through our detailed tables and visual representations.
    </li>
    <li>
      Trustworthy Guidance: While our calculator provides valuable data, it's essential to 
      consult with a financial advisor to consider additional factors and create a well-rounded 
      strategy.
    </li>
  </ul>

  <h2>Frequently Asked Questions (FAQ):</h2>
  <ul>
    <li>
      How accurate are the calculations on PayofforInvest.com?
      Our calculations are based on standard financial formulas 
      and are designed to provide accurate estimates. However, 
      keep in mind that individual financial situations can vary, 
      and consulting with a financial advisor is recommended.
    </li>
    <li>
      Can PayofforInvest.com provide tax advice?
      No, PayofforInvest.com does not provide tax advice. 
      It's essential to consult with a tax professional or 
      financial advisor to understand the tax implications of your financial decisions.
    </li>
    <li>
      Can I save my calculations on PayofforInvest.com?
      Currently, our platform does not offer the feature to save 
      calculations. We recommend taking screenshots or writing down 
      the results for future reference.
    </li>
  </ul>
</div>
  

<router-outlet></router-outlet>
